* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1500px;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.w-45 {
    width: 45%;
}

.main-btn {
    background-color: #f35f2f;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
}

.main-btn a {
    text-decoration: none;
    color: #fff;
}

header {
    padding: 16px 0;
}

header nav ul {
    display: flex;
    gap: 60px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
}

header nav .active {
    color: #f35f2f;
}

.w-30 {
    width: 30%;
}

.service {
    text-align: center;
}

.service .flex-box {
    border: 1px solid #ebebeb;
    padding: 20px 0;
    border-radius: 10px;
}

.service .w-30 {
    border-right: 1px solid #ebebeb;
}

.service .w-30:last-child {
    border-right: none;
}

.offer {
    text-align: center;
    border-radius: 23px;
    box-shadow: 0px 4px 22px 0px rgba(95, 95, 95, 0.05);
    margin-top: 50px;
}
.offer .w-30 img {
    margin-top:-70 px;
}
h2{
    text-align: center;
}
h4{
    padding: 0px 30px;
}
.flex-box .w-30{
    margin-top: 20;
}
.projects{
    text-align: center;
}
.projects{
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
}
.team{
    text-align: center;
}
.team .w-25 img{
    width:-100%;
    border: radius 10px;
    height: -200px;
    object-fit: contain; 
}
.w-25{
    width:-23%;
}
.messengers{
    display: flex;
    gap: 6 px;
    font: size 20px;
    justify-content: center;
}
